<section class="facilities-block">
  <div class="container">
    <div class="facilities-block__title-wrapper">
      <p class="facilities-block__subject">Art & Congress halls</p>
      <h2 class="facilities-block__title-two">
        Our<br />faci<br /><span class="facilities-block__third-row"
          >lities</span
        >
      </h2>
      <svg class="facilities-block__icon" width="50" height="50">
        <use href="./img/icons.svg#icon-star"></use>
      </svg>
    </div>
    <div class="facilities-block__picture-wrapper">
      <img
        class="facilities-block__picture"
        srcset="./img/image-facil-main.jpg 1x, ./img/image-facil-main@2x.jpg 2x"
        src="./img/image-facil-main.jpg"
        alt="A modern light hotel room"
        width="192"
        height="124"
      />
    </div>
    <div class="facilities-block__text-wrapper">
      <p class="facilities-block__text">
        Bank Hotel offers you a wide range of additional services and
        facilities. Visit our restaurant to try exclusive meals, book a
        conference hall to organize a business meeting, or relax in the art-bar.
      </p>
    </div>
    <ul class="facilities-block__facilities-list">
      <!-- active facility mark-up: -->
      <li class="facilities-block__item facilities-block__item-active">
        <img
          class="facilities-block__item-active_image"
          srcset="
            ./img/image-restaurant.jpg    1x,
            ./img/image-restaurant@2x.jpg 2x
          "
          src="./img/image-restaurant.jpg"
          alt="A modern light hotel room"
          width="355"
          height="425"
        />
        <div class="facilities-block__description-wrapper">
          <div class="facilities-block__inner-left">
            <p
              class="facilities-block__pagination facilities-block__item-active_pagination"
            >
              01
            </p>
            <button class="facilities-block__control" type="button">
              <svg class="facilities-block__icon-button" width="70" height="70">
                <use href="./img/icons.svg#icon-button-default"></use>
              </svg>
            </button>
          </div>
          <div class="facilities-block__inner-right">
            <h3
              class="facilities-block__title-three facilities-block__item-active_title-three"
            >
              Ice<br />restaurant
            </h3>
            <p class="facilities-block__text">
              The hotel’s exclusive infrastructure is complemented by the unique
              atmosphere of the Safe Restaurant. Author’s menu, extensive wine
              card, and live music will set you for the correct mood.
            </p>
          </div>
        </div>
      </li>
      <!-- NOT active facility mark-up: -->
      <li class="facilities-block__item facilities-block__item-inactive">
        <img
          class="facilities-block__item-inactive_image"
          srcset="./img/image-hall.jpg 1x, ./img/image-hall@2x.jpg 2x"
          src="./img/image-hall.jpg"
          alt="A modern light hotel room"
          width="150"
          height="150"
        />
        <p
          class="facilities-block__pagination facilities-block__item-inactive_pagination"
        >
          02
        </p>
        <h3
          class="facilities-block__title-three facilities-block__item-inactive_title-three"
        >
          conference hall
        </h3>
      </li>
      <div class="facilities-block__dark-vector dark-vector"></div>
      <!-- NOT active facility mark-up: -->
      <li class="facilities-block__item facilities-block__item-inactive">
        <img
          class="facilities-block__item-inactive_image"
          srcset="./img/image-bar.jpg 1x, ./img/image-bar@2x.jpg 2x"
          src="./img/image-bar.jpg"
          alt="A modern light hotel room"
          width="150"
          height="150"
        />
        <p
          class="facilities-block__pagination facilities-block__item-inactive_pagination"
        >
          03
        </p>
        <h3
          class="facilities-block__title-three facilities-block__item-inactive_title-three"
        >
          Wine bar “reserve”
        </h3>
      </li>
    </ul>
  </div>
</section>
