<section class="rooms-block">
  <div class="container">
    <p class="rooms-block__caption">70 Rooms</p>
    <h2 class="rooms-block__title-two">Rooms & apartments</h2>
    <p class="rooms-block__subject">
      All room decoration was made with ecological certified and safe materials.
    </p>
    <div class="rooms-block__image-wrapper">
      <img
        class="rooms-block__image"
        srcset="./img/image-rooms.jpg 1x, ./img/image-rooms@2x.jpg 2x"
        src="./img/image-rooms.jpg"
        alt="A modern light hotel room"
        width="355"
        height="425"
      />
      <button class="button" type="button">
        <svg class="rooms-block__button_icon" width="120" height="120">
          <use href="./img/icons.svg#icon-yellow-circle"></use>
        </svg>
        <p class="button_text">Book room</p>
      </button>
    </div>
    <div class="rooms-block__slider">
      <p class="rooms-block__slider_pagination">01 / 04</p>
      <h3 class="rooms-block__title-three">Superior twin</h3>
      <div class="rooms-block__slider_wrapper">
        <button class="rooms-block__slider_control" type="button">
          <svg class="rooms-block__slider_icon" width="70" height="70">
            <use href="./img/icons.svg#icon-button-default"></use>
          </svg>
        </button>
        <p class="rooms-block__text">
          The Superior twin is perfect for those who plan to stay long. The
          spacious and bright room is equipped with deluxe Italian furniture and
          has a beautiful view to the historical part of the city. Stylish
          interior design and comfortable beds will make your stay cozy and
          pleasant.
        </p>
      </div>
    </div>
    <div class="dark-vector"></div>
  </div>
</section>
