<section class="top-block">
  <div class="container">
    <h1 class="top-block__title">
      Bank<span class="top-block__title_yellow">Hotel</span>
    </h1>
    <p class="top-block__list">
      rooms // restaurant // congress hall // wine bar
    </p>
    <div class="top-block__vector-wrapper">
      <div class="top-block__vector"></div>
    </div>
    <p class="top-block__description">
      The luxurious hotel in the most beautiful European city with an exclusive
      restaurant, conference-hall, and art-bar.
    </p>
    <div class="top-block__image-wrapper">
      <img
        class="top-block__image"
        srcset="./img/image-top.jpg 1x, ./img/image-top@2x.jpg 2x"
        src="./img/image-top.jpg"
        alt="A modern light hotel room"
        width="355"
        height="425"
      />
      <button class="button" type="button">
        <svg class="top-block__button_icon" width="120" height="120">
          <use href="./img/icons.svg#icon-yellow-circle"></use>
        </svg>
        <p class="button_text">Book room</p>
      </button>
    </div>
    <p class="top-block__text">
      Art & Congress<br /><span class="top-block__text-italic">hall</span>
    </p>
  </div>
</section>
