/* .top-block {
  background-color: var(--secondary-dark-color);

  &__title {
    color: var(--primary-light-color);
    text-align: center;
    font-family: 'Yeseva One', serif;
    font-size: 50px;

    &_yellow {
      color: var(--yellow-color);
    }
  }
} */

.top-block {
  background-color: var(--secondary-dark-color);
  padding-bottom: 40px;
}

@media (min-width: 1024px) {
  .top-block {
    padding-bottom: 35px;
  }

  .top-block__box {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 40px 0;
  }
}

.top-block__title-wrapper {
  padding: 24px 0 24px 0;
}

@media (min-width: 1024px) {
  .top-block__title-wrapper {
    padding: 0;
  }
}

.top-block__title {
  text-align: center;
  font-family: 'Yeseva One', serif;
  font-size: 50px;
  line-height: 75%;
  margin-bottom: 24px;
}

.top-block__title_yellow {
  color: var(--yellow-color);
}

@media (min-width: 375px) {
  .top-block__title {
    font-size: 63px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .top-block__title {
    font-size: 105px;
  }
}

.top-block__list {
  color: var(--yellow-color);
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 1024px) {
  .top-block__list {
    font-size: 14px;
    text-align: left;
    color: inherit;
  }
}

.top-block__button {
  display: none;
}

@media (min-width: 1024px) {
  .top-block__button {
    display: flex;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    height: 45px;
  }
}

.top-block__vector-wrapper {
  height: 2px;
  width: 173px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .top-block__vector-wrapper {
    display: none;
  }
}

.top-block__vector {
  height: 1px;
  background-color: var(--primary-light-color);
  opacity: 0.12;
}

.top-block__description {
  width: 282px;
  margin: 24px auto 40px auto;
  color: var(--primary-gray-color);
  text-align: center;
  line-height: 170%;
}

@media (min-width: 375px) and (max-width: 1023px) {
  .top-block__description {
    width: 291px;
  }
}

@media (min-width: 1024px) {
  .top-block__description {
    width: 200px;
    margin: 0 30px 0 0;
    text-align: left;
  }
}

.top-block__image-wrapper {
  position: relative;
}

@media (min-width: 1024px) {
  .top-block__image {
    width: 100%;
    height: 487px;
  }

  .top-block__button-booking.button {
    width: 248px;
    height: 100px;
    bottom: 0;
    right: 0;
    background-color: var(--yellow-color);
    border-radius: 0;
  }

  .top-block__button_booking-icon {
    display: none;
  }

  .top-block__button-booking-text.button_text {
    right: 73px;
    bottom: 41px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.top-block__text,
.top-block__text-italic {
  margin-top: 50px;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 130%;
}

.top-block__text-italic {
  font-style: italic;
}

@media (min-width: 1024px) {
  .top-block__text {
    display: none;
  }
}

@media (max-width: 1023px) {
  .top-block__contacts-wrapper {
    display: none;
  }
}

@media (min-width: 1024px) {
  .top-block__contacts-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .top-block__link {
    font-size: 18px;
    font-style: normal;
    /* font-weight: 400;
    line-height: normal; */
    text-transform: uppercase;
  }

  .top-block__link_phone {
    color: var(--yellow-color);
  }

  .top-block__text-tablet {
    font-size: 16px;
    text-align: right;
    text-transform: uppercase;
  }

  .top-block__text-italic-tablet {
    font-style: italic;
  }
}
