.about-block {
  background-color: var(--secondary-dark-color);
  padding: 50px 0 70px 0;
}

.about-block__container {
  position: relative;
}

.about-block__vector {
  position: absolute;
  top: -50px;
  left: 0;
}

.about-block__title-two {
  position: relative;
  color: var(--yellow-color);
  width: 160px;
  text-align: right;
  margin-bottom: 70px;
  z-index: 1;
}

@media (min-width: 375px) {
  .about-block__title-two {
    width: 195px;
    /* font-size: 50px; */
  }
}

.about-block__image {
  position: relative;
  z-index: 1;
}

.about-block__wrapper {
  position: relative;
  width: 283px;
  padding-top: 70px;
}

@media (min-width: 375px) {
  .about-block__wrapper {
    width: 335px;
  }
}

.about-block__title-three {
  margin-bottom: 20px;
}

.about-block__icon {
  position: absolute;
  bottom: 200px;
  right: 0px;
  transform: rotate(45deg);
}

@media (min-width: 375px) {
  .about-block__icon {
    bottom: 175px;
  }
}

.about-block__text {
  width: 252px;
  font-size: 13px;
  line-height: 170%;
  color: var(--primary-gray-color);
}

@media (min-width: 375px) {
  .about-block__text {
    width: 293px;
  }
}
